@model BucketData

@{
    ViewBag.Title = Model.Activity + "- Details";
}

<h1>@Model.Activity</h1>

<div>ID: @Model.Id</div>
<div>Activity Type: @Model.ActivityType</div>
<div><a asp-action="Index" asp-controller="Home">Index</a></div>